body, html {
    color: #AEAEAE!important;
    line-height: 150%;
}
/* HEADER */
header {
    background-image: url(../img/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
}

header nav {
    box-shadow: none !important;
}

header nav .navbar-nav-center {
    font-size: small;
}
header nav .navbar-nav-center a {
    color: #e2dfdf!important;
}
header nav .navbar-nav-center .active a,header nav .navbar-nav-center a:hover {
    color: #FFF !important;
    background: none!important;
}

header .nav-item a {
    width: fit-content!important;
}

header .home-content {
    margin-top: 5rem;
}
header .home-content .col-md-6 {
    margin-bottom: 4rem !important;
}
header .home-title {
    font-size: 3rem;
}
header .home-img img {
    width: 100%;
}
@media (min-width: 992px) { 
    header nav .navbar-nav-center {
        margin-right: 9rem;
        margin-left: 9rem;
    }
    header .nav-item a {
        margin: auto;
    }
}
/* /HEADER */
/* MAIN */
main section {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.section-features img {
    height: fit-content;
}
@media (min-width: 576px) { 
    .section-features img {
        padding: 0 1rem !important;
    }
}

@media (max-width: 576px) { 
    .section-features .d-flex {
        display: block !important;
    }
}
/* /MAIN */

/* MDB classes overiding */
.btn:hover {
    color: inherit !important;
}
.btn-download {
    background-color: #ED7354;
    text-transform: none !important;
    font-weight: bold;
}
.btn-features {
    background-color: #466EC3;
    text-transform: none !important;
    font-weight: bold;
}
.text-orange {
    color: #ED7354;
}
.orange-text:hover {
    color: #ED7354 !important;
}
.blue-text {
    color: #6795F7 !important;
}
.black-text {
    color: #353A52 !important;
}

.btn-rounded {
    border-radius: 50% !important;
    padding: 0.8rem 1.1rem;
}